<h1><%= @plan.name %></h1>
<br>

<div class="actions">
  <%= link_to 'Edit Plan', edit_plan_url, class: "btn btn-default btn-lg" %>
  <%= link_to 'Delete Plan', plan_url, method: :delete, class: "btn btn-default btn-lg" %>
</div>

<% @plan.days_of_week.each do |day_of_week| %>
  <h3 class="col-lg-8 mx-auto"><%= day_of_week %></h3>
  <% @plan.workouts.each do |workout| %>
    <% if workout.day == day_of_week %>
      <%=workout.full_name %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= link_to 'Add Workout', new_plan_workout_url(@plan, :workout_day => day_of_week), class: "btn btn-default btn-lg" %>
  </div>
  <br>
<% end %>
